.Roomlist {
  display: flex;
  justify-content: space-between;
  border: 2px solid #f8f8f8;
  height: 120px;
  padding: 0 15px;
  margin-bottom: 15px;
  &:first-of-type {
    margin-top: 70px;
  }
  .Roomlist__left {
    display: flex;
    align-items: center;
    width: 100%;
    &__image {
      margin-right: 25px;
    }
    &__title {
      font-size: 16px;
      font-weight: 550;
    }
  }
  .Roomlist__right {
    display: flex;
    width: 160px;
    &__edit {
      font-size: 13px;
      border: 1px solid #f5f5f5;
      width: 70px;
      height: 45px;
      text-align: center;
      line-height: 45px;
      margin: auto;
    }
    &__review {
      font-size: 13px;
      border: 1px solid #f5f5f5;
      width: 70x;
      height: 45px;
      text-align: center;
      line-height: 45px;
      margin: auto;
    }
  }
}