.MyRoom{
  &__image {
    height: 300px;
  }
  &__title {
    height: 100px;
    background-color: #f8f8f8;
  }
  &__info {
    height: 100px;
  }
  &__facility {
    height: 200px;
    background-color: #f8f8f8;
  }
  &__location {
    height: 400px;
  }
  &___images {
    height: 300px;
    background-color: #f8f8f8;

  }
}
