.row
  .col-md-3
    .Accountcard
      .Accountcard__main
        = image_tag "no-image.png", class: "Accountcard__main--image avatar_large"
        .Accountcard__main__right
          %h5=current_user.nickname
          = link_to "#", class: "Accountcard__main__right--profile" do
            プロフィール確認
    =render 'modules/sidebar'
  
  .col-md-7
    - @mybooks.each do |book|
      .Roomlist
        .Roomlist__left
          .Roomlist__left__image
            - if book.room.room_images.length > 0
              =image_tag book.room.room_images[0].image.url, class: "avatar_large"
            - else
              =image_tag "no-image.png", class: "avatar_large"
          .Roomlist__left__title
            =book.room.name
        .Roomlist__right
          = link_to "#" do
            .Roomlist__edit  確認
          