.row
  .col-md-3
    .Accountcard
      .Accountcard__main
        = image_tag "no-image.png", class: "Accountcard__main--image avatar_large"
        .Accountcard__main__right
          %h5=current_user.nickname
          = link_to "#", class: "Accountcard__main__right--profile" do
            プロフィール確認
    =render 'modules/sidebar'
  .main aaa