- if rooms.present?
  .SearchResult
    - rooms.each do |room|
      .SearchResult__room
        .SearchResult__room__left
          = link_to room_path(room) do
            - if room.room_images.length > 0
              =image_tag room.room_images[0].image.url, width: 250, height: 250
            - else
              =image_tag "no-image.png", width: 250, height: 250
        .SearchResult__room__right
          .SearchResult__room__name
            = link_to room_path(room) do
              =room.name
          .SearchResult__room__like
            ☆☆☆☆☆
          .SearchResult__room__info
          .SearchResult__room__location
            = room.location
          .SearchResult__room__price
            = room.price
-else
  .SearchResult__nothing
    該当するお部屋が見つかりませんでした。

