.MyRoom__info__location__map
  #map{ data: { turbolinks: false } }
    
    :javascript
      function initMap(){
        let geocoder = new google.maps.Geocoder()

        let map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 11,
        });

        let pos = new google.maps.LatLng(
          "#{@room.latitude}", 
          "#{@room.longitude}" 
        );
          
        map.setCenter(pos)
        let marker = new google.maps.Marker({
          map: map,
          position: pos
        });

        var infoWindow = new google.maps.InfoWindow({
            content: '<div>ここです</div>'
          });

          infoWindow.open(map, marker);

      }
  