.MyRoom__info__location__map
  #map
    :javascript
      let map
      let geocoder

      function initMap(){
        geocoder = new google.maps.Geocoder()

        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8,
        });

          let pos = new google.maps.LatLng(
          "#{@room.latitude}", 
          "#{@room.longitude}" 
          );
          

          mapInstance.setCenter(pos)
          let marker = new google.maps.Marker({
            map: mapInstance,
            position: pos
          });
      }

%script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBUH5AWFHCI0eiJULV6Q3pRx-hCNL24IUg&callback=initMap"}
  