.list-group
  
  = link_to facility_room_path, class: "list-group-item list-group-item-action" do
    基本情報
  = link_to facility_room_path, class: "list-group-item list-group-item-action" do
    設備、アメニティ
  = link_to facility_room_path, class: "list-group-item list-group-item-action" do
    写真
  