@import "reset";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "modules/devise";
@import "modules/shared";


body {
  text-decoration: none;
  box-sizing: border-box;
}

.contents {
  padding: 0 60px;
}

select {
  width: 100%;
  margin: 8px 0 0;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}


