.HostRegist {
  padding: 60px 400px;
  &__title {
    text-align: center;
    &__contents {
      font-size: 24px;
      font-weight: bold;
    }
  }
  &__main {
    margin-top: 40px;
    &__contents {
      padding: 0 100px;
    }
    .HostRegist__FormField {
      &__label {
      }
      &__form {
        &__input {
          width: 100%;
          height: 40px;
        }
      }
    }
    .HostRegist__FormField__submit {
      margin-top: 50px;
      &__btn {
        height: 50px;
        width: 100%;
      }
    }
  }
}