.Mybook {
  display: flex;
  justify-content: space-between;
  border: 2px solid #f8f8f8;
  height: 120px;
  padding: 0 15px;
  margin-bottom: 15px;
  &:first-of-type {
    margin-top: 70px;
  }
  .Mybook__left {
    display: flex;
    align-items: center;
    width: 100%;

    &__image {
      margin-right: 25px;
      &__one {
        height: 90px;
        width: 90px;
      }
    }

    &__main {
      &__title {
        margin-bottom: 10px;
        font-size: 17px;
        padding-top: 30px;
        font-weight: 600;
      }
      &__user {
        align-items: center;
        display: flex;
        &__title {
          font-size: 12px;
          color: gray;
          margin-right: 10px;
        }
        &__image {
          margin-right: 5px;
        }
        &__nickname {

        }
      }
    }
  }
  .Mybook__right {
    display: flex;
    width: 160px;
    &__edit {
      font-size: 13px;
      border: 1px solid #f5f5f5;
      width: 70px;
      height: 45px;
      text-align: center;
      line-height: 45px;
      margin: auto;
    }
    &__review {
      font-size: 13px;
      border: 1px solid #f5f5f5;
      width: 70x;
      height: 45px;
      text-align: center;
      line-height: 45px;
      margin: auto;
    }
  }
}